*{
    border-sizing:border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size:17px;
    padding: 8px;
    color: black;
    background-color: rgb(255, 192, 203);
    background-image: linear-gradient(#FFC0CB, #FF69B4);
}
.container{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 20px 50px 20px;
    border: black;
    border-radius: 10px;
    color: black;
    
}
input{
    width:100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: black;
    
}
fieldset{
    background-color: white;
    border: 1px solid white;
    margin:10px;
    border-radius:10px;
}
h1{
    font-weight: 900;
    text-align: center;
color: hotpink;
}
button{
    background-color: black ;
    color: white;
    padding: 10px 12px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: hotpink;
}
legend{
    background-color:rgb(43, 128, 226);
    color: black;
}